@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg-primary: 255 255 255;
    --color-bg-secondary: 245 245 245;
    --color-text-primary: 17 24 39;
    --color-text-secondary: 107 114 128;
  }

  .dark {
    --color-bg-primary: 21 21 21;
    --color-bg-secondary: 32 32 32;
    --color-text-primary: 255 255 255;
    --color-text-secondary: 187 187 187;
  }

  h1 {
    @apply text-xl font-bold;
  }
}
